.header {
  background-color: var(--background-light);
  width: 100%;
  padding: 15px 20px;
  box-shadow: var(--shadow-sm);
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.headerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage img {
  width: 50px;
  height: 50px;
}

.logoText {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
  letter-spacing: 0.5px;
}